<!-- <%# if (errors && errors.length > 0) { %>
  <div class="error-message">
    <%# errors.forEach((error) => { %>
      <p class="error"><%#= error %></p>
    <%# }); %>
  </div>
<%# } %> -->

<!-- <%# if (error && error.length > 0) { %>
  <div class="error-message">
    <%# errors.forEach((error) => { %>
      <p class="error"><%#= error %></p>
    <%# }); %>
  </div>
<%# } %> -->