<!-- <%# if (errors && errors.length > 0) { %>
  <div class="error-messages">
    <%# errors.forEach((error) => { %>
      <p class="errors"><%#= error %></p>
    <%# }); %>
  </div>
<%# } %> -->
<% if (error && error.length > 0) { %>
  <div class="error-messages">
    <% errors.forEach((error) => { %>
      <p class="errors"><%= error %></p>
    <% }); %>
  </div>
<% } %>