<header class="app-header">
  <nav class="user-nav" aria-label="User menu">
    <span class="user-info">
      Logged in: "liondaddy"<%#= user.username %>
    </span>
    <form action="/app/log-out" method="POST" class="logout-form">
      <button type="submit">Log out</button>
    </form>
  </nav>
</header>


<!-- <form class="form-reset" action="/app/log-out" method="POST">
<button class="wide-button" type="submit">Log out</button>
</form> -->