<header class="sticky-header">
  <nav class="nav-bar" aria-label="user menu">
    <% if (currentUser && currentUser.permission_status === "admin") { %>
    <a class="button-default nav-button" href="/app/admin">
      <span class="emoji emoji-nav-size" role="img" aria-label="admin's overview">
      ⚙
      </span>
    </a>
    <% } %>
    <a class="button-default nav-button" href="/app/info">
      <span class="emoji emoji-nav-size" role="img" aria-label="this site's info">
        ℹ
      </span>
    </a>
    <% if (currentUser) { %>
      <button
        class="button-default nav-button new-message-button"
        data-section="modal-new-message"
        data-title="modal-title-new-message"
        data-target-id="<%= currentUser.id %>"
        >
        <span class="emoji emoji-nav-size" role="img" aria-label="create a new message">
          ✍🏼
        </span>
    </button>
    <% } %>
    <a class="button-default nav-button" href="/app/message-boards">
      <span class="emoji emoji-nav-size" role="img" aria-label="message board link">
      💬
      </span>
    </a>
    </a>
    <% if (currentUser) { %>
    <a class="button-default nav-button" href="/app/your-profile">
      <span class="emoji emoji-nav-size" role="img" aria-label="avatar image and link to your profile">
        <%#= currentUser.avatarLetter %>
        <%= currentUser.avatar_type %>
      </span>
    </a>
    <% } %>
    <form action="/app/log-out" method="POST">
      <button class="button-default nav-button" type="submit">
        <span class="emoji emoji-nav-size" role="img" aria-label="log out">
          📴
        </span>
      </button>
    </form>
  </nav>
  <% if (currentUser) { %>
  <div class="logged-in-bar uppercase"><p>logged in as "<%= currentUser.email %>" (<%= currentUser.permission_status %>)</p></div>
  <% } %>
</header>
