<!-- <div class="password-rules-container"> 
<ul>
    <p class="uppercase"><span class="emoji">🔐</span>Passwords must contain:</p>
    <li>➤ At least 16 characters.</li>
    <li>➤ At least one lowercase letter.</li>
    <li>➤ At least one uppercase letter.</li>
    <li>➤ At least one special character.</li>
    <li>➤ Special characters: @$!%*?&</li>
</ul>
</div> -->

<div class="password-rules-container">
  <h3><span class="emoji">🔐</span>Passwords must contain:</h3>
  <p><span class="emoji">↔</span> At least 16 characters.</p>
  <p><span class="emoji">🔡</span> At least one lowercase letter.</p>
  <p><span class="emoji">🔠</span> At least one uppercase letter.</p>
  <p><span class="emoji">🔢</span> At least one number.</p>
  <p>
    <span class="emoji">🔣</span> At least one special character from this list: @$!%*?&
  </p>
</div>
