<div class="password-rules-container">
  <h3><span class="emoji">🔐</span>Passwords must contain:</h3>
  <p><span class="emoji">↔</span> At least 12 characters.</p>
  <p><span class="emoji">🔡</span> At least one lowercase letter.</p>
  <p><span class="emoji">🔠</span> At least one uppercase letter.</p>
  <p><span class="emoji">🔢</span> At least one number.</p>
  <p>
    <span class="emoji">🔣</span> At least one of these special character: @$!%*?&
  </p>
</div>
