@media (min-width: 400px) {
  :root {
    --card-width: 350px;
    --emoji-quick-view-bar-size: 1.25rem;
    --index-image-size: 20.125rem;
  }

  .info-button {
    font-size: var(--font-size-default);
  }

  .topic-title {
    font-size: var(--font-size-default);
  }

  .message-button {
    min-width: 3rem;
    font-size: var(--font-size-default);
  }
}

@media (min-width: 450px) {
  :root {
    --card-width: 400px;

    --nav-button-h-w: 3rem;
    --nav-bar-h: 5rem;
    --avatar-emoji-nav-size: 2.5rem;

    --emoji-quick-view-bar-size: 1.5rem;

    --message-name-size: 1.2rem;
    --message-title-size: 1.2rem;
    --message-details-size: var(--font-size-default);
    --message-body-size: 1.25rem;

    --index-image-size: 23.25rem;
  }

  .nav-bar {
    gap: var(--spacer-biggest);
  }

  .admin-quick-view-bar {
    justify-content: space-evenly;
    gap: var(--spacer-big);
  }
}

/* NOTE - Use this again later? */
/* @media (min-width: 600px) {
} */

@media (min-width: 700px) {
  .topic-card {
    width: var(--max-width);
  }
}

@media (min-width: 1050px) {
  .large-screen-flex-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
  }
}
