<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <main>
    <div class="page-errors">
      <h1><%= title %></h1>
      <p><%= error %></p>
    </div>  
    <!-- <div class="button-container">
        <a class="fake-button" href="/">LOG IN</a>     
    </div>         -->
    </main>
  </body>
</html>