<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="card">
        <div class="page-title uppercase">
          <h1>admin overview</h1>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
