<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="card">
        <div class="page-title uppercase">
            <h1>become a member!</h1>   
        </div>
        <div class="user-message">
          <p>
            Longtime neighbors, or neighbors active in the <span class="red-letter">C.A.N.</span> organization, can upgrade from <span class="italic">user</span> to <span class="italic">member</span> status by entering the secret password below. Member status confers additional access to certain site features. Upgrading to member only needs to be done once.
          </p> 
        </div>
        <form class="become-member-form" action="/app/become-member" method="POST">
          <label for="secret-password">
            <p>secret password</p>
            <input
              id="secret-password"
              name="secret-password"
              placeholder="enter the secret password"
              type="password"
              required
            />
          </label>
        </form>
        <div class="button-container">
          <a class="fake-button" href="/app/">home</a>
          <button type="submit">submit</button>
        </div>
      </div>
    </main>
  <%- include('./partials/footer.ejs') %>    
  </body>
</html>