<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <main>
      <div class="card page-errors">
        <div class="page-title uppercase">
          <h1><%= title %></h1>  
        </div>
        <p><%= error %></p>
        <%# -- Specific Content for 400 - Bad Request -- %>
        <% if (status === 400) { %>
        <% } %>
        <%# -- Specific Content for 401 - Unauthorized -- %>
        <% if (status === 401) { %>
          <div class="button-container-row-space-evenly">
            <a class="button-default wide-button" href="/login">Login</a>
          </div>
        <% } %>
        <%# -- Specific Content for 403 - Forbidden -- %>
        <% if (status === 403) { %>
          <div class="button-container-row-space-evenly">
            <a class="button-default wide-button" href="/app">Back to Home</a>
          </div>
        <% } %>
        <%# -- Specific Content for 404 - Not Found -- %>
        <% if (status === 404) { %>
          <div class="button-container-row-space-evenly">
            <a class="button-default wide-button" href="/">Go Back Home</a>
          </div>
        <% } %>
        <%# -- Specific Content for 405 - Method Not Allowed -- %>
        <% if (status === 405) { %>
        <% } %>
        <%# -- Specific Content for 500 - Internal Server Error -- %>
        <% if (status === 500) { %>
          <div class="button-container-row-space-evenly">
            <a class="button-default wide-button" href="javascript:history.back()">Go Back</a>
          </div>
        <% } %>
        <%# -- Specific Content for 502 - Bad Gateway -- %>
        <% if (status === 502) { %>
        <% } %>
        <%# -- Specific Content for 503 - Service Unavailable -- %>
        <% if (status === 503) { %>
        <% } %>
        <%# -- Specific Content for 504 - Gateway Timeout -- %>
        <% if (status === 504) { %>
        <% } %>
        <%# -- Specific Content for 429 - Too Many Requests -- %>
        <% if (status === 429) { %>
        <% } %>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>    
  </body>
</html>