<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="justify-content-center">
    <main>
      <div class="card">
        <div class="page-title uppercase">
          <h1>capital area neighborhood message board</h1>
        </div>
        <div class="page-subtitle italic">
          <span>
            "Being a good neighbor is an art which makes life richer." ~ Gladys
            Taber
          </span>
        </div>
        <div class="element-container-row-default">
          <img
            class="index-image"
            src="/images/lineArt.svg"
            alt="Line art view from the riverfront toward the capitol building"
          />
        </div>
        <div class="button-container-row-space-evenly">
          <a class="button-default narrow-button" href="/app/sign-up"
            >sign up
          </a>
          <a class="button-default narrow-button" href="/app/log-in">log in</a>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
