<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <main>
      <div class="card">
        <h1>capital area neighborhood message board</h1>
        <!-- <h2>message board</h2> -->
        <img class="home-image" src="/images/CAN-mb.PNG" alt="">
        <!-- <h2>for neighbors, by neighbors</h2> -->
        <div class="button-container">
          <a class="fake-button" href="/sign-up">sign up</a>
          <a class="fake-button" href="">log in</a>
        </div>
      </div>
    </main>
  <%- include('./partials/footer.ejs') %>    
  </body>
</html>
