<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <main>
      <div class="card">
        <div class="page-title uppercase">
          <!-- <h1><span class="red-letter">c</span>apital <span class="red-letter">a</span>rea <span class="red-letter">n</span>eighborhood message board</h1> -->
          <h1>capital area neighborhood message board</h1>
        </div>
        <div class="page-subtitle italic"><span class="uppercase">~"from forster st to walnut st, and 3rd st to front st, in downtown harrisburg."</span></div>
        <img class="index-image" src="/images/CAN-circle.png" alt="">
        <div class="button-container">
          <a class="fake-button" href="/app/sign-up">sign up</a>
          <a class="fake-button" href="/app/log-in">log in</a>
        </div>
      </div>
    </main>
  <%- include('./partials/footer.ejs') %>    
  </body>
</html>
