<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <main>
      <div class="card">
        <div class="page-title uppercase">
          <h1>log in</h1>          
        </div>
        <div class="ui-message">
          <p>
            Log in to peruse and post on the <span class="red-letter">C</span>apital <span class="red-letter">A</span>rea <span class="red-letter">N</span>eigborhood Message Board.
          </p> 
        </div>
        <form class="log-in-form" action="/app/log-in" method="POST">
          <label for="email">
            <p>email</p>
            <input
              id="email"
              name="email"
              placeholder="enter email"
              type="email"
              required
            />
          </label>
          <label for="password">
            <p>password</p>
            <input
              id="password"
              name="password"
              placeholder="enter a password"
              type="password"
              required
            />
          </label>
          <div class="button-container">
            <a class="fake-button" href="/app/">home</a>
            <button type="submit">submit</button>
          </div>
        </form>
      </div>
    </main>
  <%- include('./partials/footer.ejs') %>    
  </body>
</html>