<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <main>
      <div class="card">
        <div class="page-title uppercase">
          <h1>log in</h1>
        </div>
        <div class="ui-message">
          <p>
            Welcome back to the
            <span class="red-letter">C</span>apital
            <span class="red-letter">A</span>rea
            <span class="red-letter">N</span>eigborhood Message Board.
          </p>
        </div>
        <form class="log-in-form" action="/app/log-in" method="POST">
          <label for="email"> email </label>
          <input
            id="email"
            type="email"
            name="email"
            placeholder="enter email"
            required
          />
          <label for="password"> password </label>
          <input
            id="password"
            type="password"
            name="password"
            placeholder="enter a password"
            required
          />
          <div class="button-container">
            <a class="fake-button" href="/app/">home</a>
            <button type="submit">submit</button>
          </div>
        </form>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
