<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <main>
      <div class="card">
        <div class="page-title uppercase">
          <h1>log in</h1>
        </div>
        <div class="ui-message">
          <p>
            Welcome back to the
            <span class="red-letter">C</span>apital
            <span class="red-letter">A</span>rea
            <span class="red-letter">N</span>eigborhood Message Board.
          </p>
        </div>
        <form class="black" action="/app/log-in" method="POST">
          <label for="email-log-in"> email </label>
          <input
            id="email-log-in"
            type="email"
            name="email"
            value="<%= formData?.email || '' %>"
            placeholder="enter email"
            required
          />
          <label for="password-log-in"> password </label>
          <input
            id="password-log-in"
            type="password"
            name="password"
            placeholder="enter a password"
            required
          />
          <div class="button-container-row-space-evenly">
            <a class="button-default" href="/app/">home</a>
            <button class="button-default" type="submit">submit</button>
          </div>
        </form>
      </div>
    <%#- include('./partials/errors.ejs') %>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
