<!-- <ul class="topic-list">
  <%# topics.forEach(topic => { %>
    <li>
      <a href="/boards/<%#= topic.slug %>">
        <h2><%#= topic.name %></h2>
        <p><%#= topic.description %></p>
      </a>
    </li>
  <%# }) %>
</ul> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="card">
        <div class="page-title uppercase"><h1>message board</h1></div>
        <ul class="topic-list">
          <li>
            <a href="">
              <h2>Safety</h2>
              <p>gjgjsgdkgs</p>
            </a>
          </li>
          <li>
            <a href="">
              <h2>Other</h2>
              <p>gjgjsgdkgs</p>
            </a>
          </li>
          <li>
            <a href="">
              <h2>Roads</h2>
              <p>gjgjsgdkgs</p>
            </a>
          </li>
        </ul>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
