  <div class="ui-message">
    <p>
      Trusted neighborhood residents, who are, or were, active in the
      <span class="red-letter">C.A.N.</span> organization, can request to upgrade from
      <span class="italic">guest</span> to
      <span class="italic">member</span> status by clicking
      below.
    </p>
    <br>
    <p>Opting to become a member will grant you access to the <span class="bold">member directory</span>, which is a list of member addresses, emails, and phone numbers meant to facilitate intra-neighborhood communication. Agreeing to become a member is acknowledgement that you permit this app to add your address, email, and phone number to this shared directory.
    </p>
    <br>
    <p>Note that acquiring member status is contingent upon admin approval and adherence to site policies (see <a class="text-link" href="/app/info">Site Information</a>).</p>
  </div>
  <form id="become-member-form" method="POST">
    <input id="become-member-target-id" type="hidden" name="targetId" />
    <div class="button-container-row-space-evenly">
      <button class="button-default wide-button" type="submit">request an upgrade</button>
    </div>
  </form>
