<!-- <div class="modal-content-card"> -->
  <div class="ui-message">
    <p>
      Longtime neighbors, or neighbors active in the
      <span class="red-letter">C.A.N.</span> organization, can request to upgrade from
      <span class="italic">guest</span> to
      <span class="italic">member</span> status by clicking
      below. Pending admin approval, a member status confers additional access to certain site features.
      Upgrading to member only needs to be done once.
    </p>
  </div>
  <form action="/app/become-member" method="POST">
    <div class="button-container">
      <button class="wide-button" type="submit">request an upgrade</button>
    </div>
  </form>
<!-- </div> -->
