  <div class="ui-message">
    <p>
      Trusted neighborhood residents, who are active in the
      <span class="red-letter">C.A.N.</span> organization, can request to upgrade from
      <span class="italic">guest</span> to
      <span class="italic">member</span> status by clicking
      below.
    </p>
    <br>
    <p>Please know that opting to become a member will grant you access to the <span class="bold">member directory</span>, which is a list of member addresses and phone numbers meant to facilitate intra-neighborhood communication. Agreeing to become a member is acknowledgement that you permit this app to add your address, email, and phone number to the member's only shared directory.
    </p>
    <br>
    <p>Becoming a member and maintaining member status is contingent upon admin approval and adherence to site policies (see <a class="app-link" href="/app/info">Site Information</a>).</p>
  </div>
  <form action="/app/become-member" method="POST">
    <div class="button-container">
      <button class="wide-button" type="submit">request an upgrade</button>
    </div>
  </form>
