  <div class="ui-message">
    <p>
      Trusted neighborhood residents, who are active in the
      <span class="red-letter">C.A.N.</span> organization, can request to upgrade from
      <span class="italic">guest</span> to
      <span class="italic">member</span> status by clicking
      below. Pending admin approval for the upgrade, member status confers additional access to certain site features.
      Upgrading to member only needs to be done once.
    </p>
    <p>Please know that opting to become a member will grant you access to the <span class="bold">member directory</span>, which is a list of member addresses and phone numbers meant to facilitate intra-neighbor communication and information. Agreeing to become a member is acknowledgement that you permit this app to add your address and phone number to the shared member directory. </p>
  </div>
  <form action="/app/become-member" method="POST">
    <div class="button-container">
      <button class="wide-button" type="submit">request an upgrade</button>
    </div>
  </form>
