<div class="ui-message">
  <p>
    Make changes to the avatar here.
  </p> 
</div>
<div class="element-container-row-center ">
  <form class="profile-data-form" action="/app/???" method="POST"> 
    <div class="change-avatar-hide-element element-container-col">
      <div class="element-container-row-space">
        <div class="element-container-col">
          <p class="capitalize">current</p>
          <span id="current_avatar" class="emoji preview-current"></span>        
        </div>
        <div class="element-container-col">
          <p class="capitalize">preview</p>
          <span id="new_avatar" class="emoji preview-new"></span>        
        </div>
      </div>
      <label for="avatar_type">
        avatar emoji picker
      </label>
        <div id="fake-avatar-input" class="fake-input" tabindex="0">
          <p id="fake-avatar-text"></p>
        </div>
        <input
          class="emoji"      
          type="text"
          name="avatar_type"
          id="avatar_type" 
          hidden
        />
        <div id="emoji-suggestions" class="emoji-suggestions hhidden"></div>
      </div>
    <label for="avatar_color_fg">
      avatar color
    </label>
      <input
        type="color"
        name="avatar_color_fg"
        id="avatar_color_fg"
        class="color_picker_fg"
      />
    <label for="avatar_color_bg_top">
      background color (top)
    </label>
      <input
        type="color"      
        name="avatar_color_bg_top"
        id="avatar_color_bg_top"
      />
    <label for="avatar_color_bg_bottom">
      background color (bottom)
    </label>      
      <input
        type="color"
        name="avatar_color_bg_bottom"
        id="avatar_color_bg_bottom"
      />
    <div class="button-container">
      <button class="wide-button" type="submit">submit avatar changes</button>
    </div> 
  </form> 
  </div>
</div>
