<form class="profile-data-form" action="/app/????" method="POST">
  <label class="capitalize" for="first_name">
    first name (fname)
  </label>
    <input
      id="first_name"       
      class="bold"           
      type="text"
      name="first_name"
      required
    />        
  <label class="capitalize" for="last_name">
    last name (lname)
  </label>
    <input 
      id="last_name"      
      class="bold"
      type="text"
      name="last_name"
      required
    />        
  <label for="verified_by_admin">
    User verified by admin?
  </label>
    <input 
      id="verified_by_admin"      
      class="lowercase bold"
      type="text"
      name="verified_by_admin"
      required
    />        
  <label class="capitalize" for="permission_status">
    user status (<span class="lowercase">guest/member/admin only</span>)
  </label>
    <input 
      id="permission_status"      
      class="lowercase bold"
      type="text"
      name="permission_status"
      required
    />        
  <label for="upgrade_request">
    User submitted a "member" request?
  </label>
    <input 
      id="upgrade_request"      
      class="lowercase bold"
      type="text"
      name="upgrade_request"
      required
    />        
  <label class="capitalize" for="email">
    email address
  </label>
    <input 
      id="email"      
      class=" lowercase bold" 
      type="email"
      name="email"
      required
    />        
  <label class="capitalize" for="phone">
    phone
  </label>
    <input 
      id="phone"      
      class="bold"
      type="phone"
      name="phone"
    />        
  <label class="capitalize" for="birthdate">
    birthdate
  </label>
    <input 
      id="birthdate"      
      class="bold"
      type="date"
      name="birthdate"
      required
    /> 
    <label for="password"> password </label>
    <input
      id="password"
      type="password"
      name="password"
      placeholder="select a password"
      required
    />
    <label for="confirm_password"> confirm password </label>
    <input
      id="confirm_password"
      type="password"      
      name="confirm_password"
      placeholder="re-enter chosen password"
      required
    />       
    <label class="capitalize" for="street_address">
      street address
    </label>
      <input 
        id="street_address"        
        class="bold" 
        type="text"
        name="street_address"
      />          
    <label class="capitalize" for="apt_unit">
      apt/unit
    </label>
      <input 
        id="apt_unit"        
        class="bold"
        type="text"
        name="apt_unit"
      />          
    <label class="capitalize" for="city">
      city
    </label>
      <input 
        id="city"        
        class="bold"
        type="text"
        name="city"
      />          
    <label class="capitalize" for="us_state">
      state
    </label>
      <input 
        id="us_state"        
        class="bold"
        type="text"
        name="us_state"
      />
    <label class="capitalize" for="zip_code">
      zip code
    </label>
      <input 
        id="zip_code"        
        class="bold"           
        type="text"
        name="zip_code"
      />
    <label class="capitalize" for="notes">
      notes
    </label>
      <input 
        id="notes"        
        class="bold"           
        type="text"
        name="notes"
      />
    <div class="button-container">
    <button class="wide-button" type="submit">submit profile changes</button>
  </div>
</form>
