
  <form class="profile-data-form" action="/app/????" method="POST">
    <label class="capitalize" for="first_name">
      first name (fname)
    </label>
      <input 
        class="bold"           
        type="text"
        name="first_name"
        id="first_name"
 
        required
      />        
    <label class="capitalize" for="last_name">
      last name (lname)
    </label>
      <input 
        class="bold"
        type="text"
        name="last_name"
        id="last_name"

        required
      />        
    <label for="verified_by_admin">
      User verified by admin?
    </label>
      <input 
        class="lowercase bold"
        type="text"
        name="verified_by_admin"
        id="verified_by_admin"

        required
      />        
    <label class="capitalize" for="permission_status">
      user status (<span class="lowercase">guest/member/admin only</span>)
    </label>
      <input 
        class="lowercase bold"
        type="text"
        name="permission_status"
        id="permission_status"

        required
      />        
    <label for="upgrade_request">
      User submitted a "member" request?
    </label>
      <input 
        class="lowercase bold"
        type="text"
        name="upgrade_request"
        id="upgrade_request"

        required
      />        
    <label class="capitalize" for="email">
      email address
    </label>
      <input 
        class=" lowercase bold" 
        type="email"
        name="email"
        id="email"

        required
      />        
    <label class="capitalize" for="phone">
      phone
    </label>
      <input 
        class="bold"
        type="phone"
        name="phone"
        id="phone"

      />        
    <label class="capitalize" for="birthdate">
      birthdate
    </label>
      <input 
        class="bold"
        type="date"
        name="birthdate"
        id="birthdate"

        required
      />        
      <label class="capitalize" for="street_address">
        street address
      </label>
        <input 
          class="bold" 
          type="text"
          name="street_address"
          id="street_address"

        />          
      <label class="capitalize" for="apt_unit">
        apt/unit
      </label>
        <input 
          class="bold"
          type="text"
          name="apt_unit"
          id="apt_unit"

        />          
      <label class="capitalize" for="city">
        city
      </label>
        <input 
          class="bold"
          type="text"
          name="city"
          id="city"

        />          
      <label class="capitalize" for="us_state">
        state
      </label>
        <input 
          class="bold"
          type="text"
          name="us_state"
          id="us_state"

        />
      <label class="capitalize" for="zip_code">
        zip code
      </label>
        <input 
          class="bold"           
          type="text"
          name="zip_code"
          id="zip_code"

        />
      <label class="capitalize" for="notes">
        notes
      </label>
        <input 
          class="bold"           
          type="text"
          name="notes"
          id="notes"

        />
      <div class="button-container">
      <button class="wide-button" type="submit">submit profile changes</button>
    </div>
  </form>
