<div class="ui-message">
  <p>Make updates to your profile here.</p>
</div>
<form action="/app/your-profile/edit-profile" method="POST">
  <label class="capitalize" for="first-name-edit-profile">
    first name (fname)
  </label>
  <input
    id="first-name-edit-profile"
    class="bold"
    type="text"
    name="first_name"
    required
  />
  <label class="capitalize" for="last-name-edit-profile">
    last name (lname)
  </label>
  <input
    id="last-name-edit-profile"
    class="bold"
    type="text"
    name="last_name"
    required
  />
  <label class="capitalize" for="email-edit-profile">
    email address
  </label>
  <input
    id="email-edit-profile"
    class="lowercase bold"
    type="email"
    name="email"
    required
  />
  <div class="element-container-row-space-between">
    <div class="element-container-col-start-center">
      <label class="capitalize" for="phone-edit-profile"> phone </label>
      <input
        id="phone-edit-profile"
        class="bold"
        type="tel"
        name="phone"
      />
    </div>
    <div class="element-container-col-start-center">
      <label class="capitalize" for="birthdate-edit-profile">
        birthdate
      </label>
      <input
        id="birthdate-edit-profile"
        class="bold"
        type="date"
        name="birthdate"
        required
      />
    </div>
  </div>
  <label for="password-edit-profile"> password </label>
  <input
    id="password-edit-profile"
    type="password"
    name="password"
    placeholder="select a password"
  />
  <label for="confirm-password-edit-profile"> confirm password </label>
  <input
    id="confirm-password-edit-profile"
    type="password"
    name="confirm_password"
    placeholder="re-enter chosen password"
  />
  <label class="capitalize" for="street-address-edit-profile">
    street address
  </label>
  <input
    id="street-address-edit-profile"
    class="bold"
    type="text"
    name="street_address"
  />
  <div class="element-container-row-space-between">
    <div class="element-container-col-start-center">
      <label class="capitalize" for="apt-unit-edit-profile">
        apt/unit
      </label>
      <input
        id="apt-unit-edit-profile"
        class="bold"
        type="text"
        name="apt_unit"
      />
    </div>
    <div class="element-container-col-start-center">
      <label class="capitalize" for="us-state-edit-profile">
        state
      </label>
      <select id="us-state-edit-profile" name="us_state">
        <option value="" disabled>Choose state</option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">Washington, DC</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
      </select>
    </div>
  </div>
  <div class="element-container-row-space-between">
    <div class="element-container-col-start-center">
      <label class="capitalize" for="city-edit-profile"> city </label>
      <input
        id="city-edit-profile"
        class="bold"
        type="text"
        name="city"
      />
    </div>
    <div class="element-container-col-start-center">
      <label class="capitalize" for="zip-code-edit-profile"> zip </label>
      <input
        id="zip-code-edit-profile"
        class="bold"
        type="text"
        name="zip_code"
      />
    </div>
  </div>
  <div class="button-container-row-space-evenly">
    <button class="button-default wide-button" type="submit">submit profile changes</button>
  </div>
</form>
