<div class="ui-message">
  <p>Make updates to your profile here.</p>
</div>
<form action="/app/your-profile/edit-profile" method="POST">
  <!-- CSRF Token -->
  <!-- <input type="hidden" name="_csrf" value="<%#= csrfToken %>"> -->
  <label class="capitalize" for="first-name-edit-profile">
    first name
  </label>
  <input
    id="first-name-edit-profile"
    class="bold"
    type="text"
    name="first_name"
    required
  />
  <label class="capitalize" for="last-name-edit-profile">
    last name
  </label>
  <input
    id="last-name-edit-profile"
    class="bold"
    type="text"
    name="last_name"
    required
  />
  <div class="element-container-row-start-center">
    <label class="capitalize" for="email-edit-profile">
      email
    </label> 
    <% if (errors && errors.some(e => e.param === 'email')) { %>
      <% errors.filter(e => e.param === 'email').forEach(e => { %>
        <span class="error">[<%= e.msg %>]</span>
      <% }) %>
    <% } %>
  </div>
  <input
    id="email-edit-profile"
    class="lowercase bold"
    type="email"
    name="email"
    required
  />
  <div class="element-container-row-space-between">
    <div class="element-container-col-start-center">
      <label class="capitalize" for="phone-edit-profile">phone</label>
      <input
        id="phone-edit-profile"
        class="bold"
        type="tel"
        name="phone"
      />
    </div>
    <div class="element-container-col-start-center">
      <label class="capitalize" for="birthdate-edit-profile">
        birthdate
      </label>
      <input
        id="birthdate-edit-profile"
        class="bold"
        type="date"
        name="birthdate"
        required
      />
    </div>
  </div>
  <div class="element-container-row-start-center">
    <label for="password-edit-profile">password*</label>  
    <% if (errors && errors.some(e => e.param === 'password')) { %>
      <% errors.filter(e => e.param === 'password').forEach(e => { %>
        <span class="error">[<%= e.msg %>]</span>
      <% }) %>
    <% } %>
  </div>
  <input
    id="password-edit-profile"
    type="password"
    name="password"
    placeholder="select a password"
  />
  <div class="element-container-row-start-center">
    <label for="confirm-password-edit-profile"> confirm </label>    
    <% if (errors && errors.some(e => e.param === 'confirm_password')) { %>
      <% errors.filter(e => e.param === 'confirm_password').forEach(e => { %>
        <span class="error">[<%= e.msg %>]</span>
      <% }) %>
    <% } %>
  </div>
  <input
    id="confirm-password-edit-profile"
    type="password"
    name="confirm_password"
    placeholder="re-enter chosen password"
  />
  <div class="element-container-row-center-start margin-bottom ">
    <p>*See password rules <a class="text-link" href="/app/info">here</a>.</p>
  </div>
  <label class="capitalize" for="street-address-edit-profile">
    street address
  </label>
  <input
    id="street-address-edit-profile"
    class="bold"
    type="text"
    name="street_address"
  />
  <div class="element-container-row-space-between">
    <div class="element-container-col-start-center">
      <label class="capitalize" for="apt-unit-edit-profile">
        apt/unit
      </label>
      <input
        id="apt-unit-edit-profile"
        class="bold"
        type="text"
        name="apt_unit"
      />
    </div>
    <div class="element-container-col-start-center">
      <label class="capitalize" for="us-state-edit-profile">
        state
      </label>
      <select id="us-state-edit-profile" name="us_state">
      </select>
    <!-- <select>
      <%#= generateStateSelect("us-state-admin-edit-page", formData) %>
    </select> -->
    </div>
  </div>
  <div class="element-container-row-space-between">
    <div class="element-container-col-start-center">
      <label class="capitalize" for="city-edit-profile"> city </label>
      <input
        id="city-edit-profile"
        class="bold"
        type="text"
        name="city"
      />
    </div>
    <div class="element-container-col-start-center">
      <label class="capitalize" for="zip-code-edit-profile"> zip </label>
      <input
        id="zip-code-edit-profile"
        class="bold"
        type="text"
        name="zip_code"
      />
    </div>
  </div>
  <div class="button-container-row-space-evenly">
    <button class="button-default wide-button" type="submit">submit profile changes</button>
  </div>
</form>
