<form class="profile-data-form" action="/app/????" method="POST">

    <label class="capitalize" for="topic">
    Message Board Topic
    </label>
    <input
      id="topic"       
      class="bold"           
      type="text"
      name="topic"
      required
    /> 
    <label class="capitalize" for="title">
    Message Title
    </label>
    <input
      id="title"       
      class="bold"           
      type="text"
      name="title"
      required
    /> 
    <div class="element-container-col">
      <label class="capitalize" for="body">
      Message Body
      </label>
      <textarea
        id="title"       
        class="bold"           
        type="text"
        name="title"
        required>
      </textarea>   
      <div class="button-container">
        <button class="wide-button" type="submit">submit new post</button>
      </div>   
    </div>


  
     




</form>