<form action="/app/new-post" method="POST">
  <% if (currentUser) { %> 
  <h2 class="author-new-post">By <%= currentUser.first_name %> <%= currentUser.last_name %></h2>
  <% } %>
  <label class="capitalize" for="topic-new-post"> Message Topic </label>
  <select
    id="topic-new-post"
    class="topic-new-post uppercase"
    name="topic_id"
    required
  >
  </select>
  <label class="capitalize" for="title-new-post"> Message Title </label>
  <input id="title-new-post" type="text" name="title" required />
  <div class="element-container-col-start-center">
    <label class="capitalize" for="body-new-post"> Message Body </label>
    <textarea id="body-new-post" type="text" name="body" required>
    </textarea>
    <div class="button-container-row-space-evenly">
      <button class="button-default wide-button" type="submit">submit new post</button>
    </div>
  </div>
</form>
