<form id="reply-message-form" class="draft-message-form" method="POST">
  <%# CSRF Token - hidden input for forms %>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <input id="reply-message-title" type="hidden" name="messageTitle" />
  <input id="reply-message-target-id" type="hidden" name="targetId" />
  <input id="reply-message-topic-name" type="hidden" name="topicName" />
  <input id="reply-message-topic-slug" type="hidden" name="topicSlug" />
  <h2 class="author-draft-message">By <span id="first-name-reply-message"></span> <span id="last-name-reply-message"></span></h2>
  <label class="bold capitalize" for="topic-reply-message">Message Topic</label>
  <input
    id="topic-reply-message"
    class="topic-draft-message uppercase"
    name="topic_name"
    required
  >
  </input>
  <label class="bold capitalize" for="title-reply-message">Message Title</label>
  <input id="title-reply-message" class="title-draft-message word-breaker" type="text" name="title" required  />
  <div class="element-container-col-start-center">
    <label class="bold capitalize" for="body-reply-message">Message Body <span id="max-char-count-reply-message" class="max-char-count-draft-message" aria-live="polite"></span></label>
    <textarea id="body-reply-message" class="body-draft-message" type="text" name="body" maxlength="700" required></textarea>
    <div class="button-container-row-space-evenly">
      <button class="button-default wide-button" type="submit">submit reply message</button>
    </div>
  </div>
</form>
