<form id="delete-user-form" method="POST">
  <%# CSRF Token - hidden input for forms %>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <input id="delete-user-target-id" type="hidden" name="targetId" />
  <div
    class="element-container-col-start-center ui-message ui-message-bubble background-white"
  >
    <div class="element-container-row-center-start">
      <p>
        <span class="bold">Deletions are permanent and cannot be undone.</span>
      </p>
      <span class="emoji emoji-size-small margin-right">🤔</span>
    </div>
    <br />
    <p>
      Do you wish to proceed with deletion of the account belonging to
      <!-- <span
        id="first-name-warning-account-deletion"
        class="bold italic"
      ></span>
      <span id="last-name-warning-account-deletion" class="bold italic"></span>
      (<span id="email-warning-account-deletion" class="bold italic"></span>)? -->
      <span id="email-warning-account-deletion" class="bold italic red-letter"></span>?
    </p>
  </div>
  <div class="button-container-row-space-evenly">
    <button class="button-default wide-button" type="submit">
      proceed with deletion
    </button>
  </div>
</form>
