/* TODO - delete whichever below is unused... */
@font-face {
  font-family: "OpenMoji";
  src: url("/fonts/OpenMoji-color-colr1_svg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoColorEmoji";
  src: url("/fonts/NotoColorEmoji-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoEmoji";
  src: url("/fonts/NotoEmoji-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


:root {
  --white: #fff;
  --black: #000;

  --off-white: #e5dfd5;
  --off-gray: #768179;
  --off-black: #1a1b1c;

  --off-red: #994e4e;
  --off-orange: #a18553;
  --off-yellow: #a0a054;
  --off-green: #519d64;
  --off-teal: #4b9595;
  --off-blue: #4c7d98;
  --off-purple: #864e97;

  --dk-red: #521313;
  --dk-orange: #8a581a;
  --dk-yellow: #83741d;
  --dk-green: #324632;
  --dk-teal: #394d4d;
  --dk-blue: #2d2d3d;
  --dk-purple: #483548;

  --lt-red: #edabab;
  --lt-orange: #f2c166;
  --lt-yellow: #eeee7d;
  --lt-green: #a9eda9;
  --lt-teal: #7de9e9;
  --lt-blue: #92cfe4;
  --lt-purple: #d080eb;

  --avatar-fg: var(--off-black);
  --avatar-bg-top: var(--off-white);
  --avatar-bg-bottom: var(--off-gray);

  --member-request-alert: var(--lt-orange);

  /* --font-title: Georgia, 'Times New Roman', Times, serif; */
  --font-text: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* TODO - delete whichever below is unused... */
  --font-emoji3: 'OpenMoji', system-ui, sans-serif;
  --font-emoji2: "NotoColorEmoji", sans-serif;
  --font-emoji: "NotoEmoji", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

