@font-face {
  font-family: "NotoEmoji";
  src: url("/fonts/NotoEmoji-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --white: #fff;
  --black: #000;

  --off-white: #e5dfd5;
  --off-gray: #768179;
  --off-black: #1a1b1c;
  --off-black-trans: #1a1b1c80;

  /* --off-red: #994e4e; */
  --off-red: #9d6161;
  /* --off-orange: #a18553; */
  --off-yellow: #a0a054;
  --off-green: #519d64;
  /* --off-teal: #4b9595; */
  /* --off-blue: #4c7d98; */
  /* --off-purple: #864e97; */

  --dk-red: #4f2b2a;
  --dk-orange: #8a581a;
  /* --dk-yellow: #83741d; */
  --dk-green: #404d44;
  /* --dk-teal: #394d4d; */
  --dk-blue: #2d2d3d;
  /* --dk-purple: #483548; */

  --lt-gray: #838684;
  --lt-red: #e0b8b8;
  --lt-orange: #e2c780;
  --lt-yellow: #dbd5ad;
  --lt-green: #a8b8a8;
  /* --lt-teal: #b3e3e3; */
  --lt-blue: #b8dde9;
  /* --lt-purple: #a790af; */

  --error-color: #dc2518;
  --success-color: #3cdc18;

  --avatar-color-fg: var(--off-black);
  --avatar-color-bg-top: var(--off-white);
  --avatar-color-bg-bottom: var(--off-gray);

  --member-status-possible: var(--lt-green);
  --member-status-no-decision: var(--lt-yellow);
  --member-status-declined: var(--lt-red);
  --account-is-inactive: var(--lt-gray);

  --border-admin-card: 0.125rem double var(--off-red);
  --border-member-card: 0.125rem solid var(--off-red);
  --border-guest-card: 0.125rem dotted var(--off-red);
  --border-hr-top: 0.125rem solid var(--white);
  --border-inactive-card: 0.125rem solid var(--off-white);
  --border-default: 0.125rem solid var(--off-gray);
  --border-message: 0.125rem solid var(--off-white);
  --border-message-card-parent: 0.25rem solid var(--off-red);
  --border-message-card-child: 0.25rem dashed var(--off-red);
  --border-message-badge: 0.125rem solid var(--off-gray);
  --border-highlight: 0.125rem solid var(--off-red);

  --box-shadow-gray: inset 0 0.25rem 1rem var(--off-gray);
  --box-shadow-red: inset 0.125rem 0.25rem 2rem var(--dk-red);
  --box-shadow-green: inset 0.125rem 0.25rem 2rem var(--dk-green);
  --box-shadow-black: 0 1rem 1rem var(--off-black);

  --font-text: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --font-emoji: "NotoEmoji", sans-serif !important;
  --font-error: monospace;

  /* Root sizing for Media Queries */
  --max-width: 700px;
  --width-default-percent: 100%;

  --button-default-h: 1.75rem;
  --button-default-w: 5.5rem;

  --border-radius-circle: 50%;
  --border-radius-big: 1rem;
  --border-radius-default: 0.5rem;
  --border-radius-small: 0.25rem;

  --spacer-biggest: 1rem;
  --spacer-big: 0.75rem;
  --spacer-default: 0.5rem;
  --spacer-medium: 0.25rem;
  --spacer-small: 0.125rem;

  --nav-button-h-w: 2.5rem;
  --nav-bar-h: 4rem;
  --card-width: 300px;

  --index-image-size: 15rem;
  
  --avatar-circle-small-h-w: 4rem;
  --avatar-preview-current-preview-new-h-w: 5rem; 
  --avatar-circle-large-h-w: 10rem;

  --emoji-quick-view-bar-size: 1.125rem;
  --emoji-list-change-avatar-picker-h: 180px;

  /* Font related */

  --font-size-small: 0.8rem;
  --font-size-default: 1rem;
  --font-size-large: 1.125rem;
  --font-size-largest: 1.25rem;

  --font-size-page-title: 1.65rem;
  --font-size-page-subtitle: 1.45rem;

  --avatar-emoji-nav-size: 1.75rem; 
  --avatar-emoji-option-size: 2rem;

  /* All avatar-emojis are a percentage of their outer circle container's size, below is teh magic number for that */
  --avatar-emoji-ratio-number: 0.575;

  /* Corresponds to --avatar-circle-small-h-w above */  
  --avatar-emoji-small-size: calc(var(--avatar-circle-small-h-w) * var(--avatar-emoji-ratio-number));

  /* Corresponds to --avatar-preview-current-preview-new-h-w above */
  --avatar-emoji-preview-size: calc(var(--avatar-preview-current-preview-new-h-w) * var(--avatar-emoji-ratio-number));

  /* Corresponds to --avatar-circle-large-h-w above */
  --avatar-emoji-large-size: calc(var(--avatar-circle-large-h-w) * var(--avatar-emoji-ratio-number));

  --avatar-emoji-largest-size: 8rem;

  --message-name-size: 1.125rem;
  --message-title-size: 1rem;
  --message-details-size: var(--font-size-small);
  --message-body-size: 1.1rem;

  --font-weight-light: 100;
  --font-weight-medium: 100;
  --font-weight-heavy: 600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
