/* TODO - delete whichever below is unused... */
@font-face {
  font-family: "OpenMoji";
  src: url("/fonts/OpenMoji-color-colr1_svg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoColorEmoji";
  src: url("/fonts/NotoColorEmoji-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoEmoji";
  src: url("/fonts/NotoEmoji-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


:root {
  --white: #fff;
  --black: #000;

  --off-white: #e5dfd5;
  --off-gray: #768179;
  --off-black: #1a1b1c;
  --off-black: #1a1b1c;
  --off-black-trans: #1a1b1c80;

  --off-red: #994e4e;
  --off-orange: #a18553;
  --off-yellow: #a0a054;
  --off-green: #519d64;
  --off-teal: #4b9595;
  --off-blue: #4c7d98;
  --off-purple: #864e97;

  --dk-red: #521313;
  --dk-orange: #8a581a;
  --dk-yellow: #83741d;
  --dk-green: #324632;
  --dk-teal: #394d4d;
  --dk-blue: #2d2d3d;
  --dk-purple: #483548;

  --lt-red: #edabab;
  --lt-orange: #e7b537;
  --lt-yellow: #eeee7d;
  --lt-green: #a9eda9;
  --lt-teal: #7de9e9;
  --lt-blue: #92cfe4;
  --lt-purple: #d080eb;

  --avatar-fg: var(--off-black);
  --avatar-bg-top: var(--off-white);
  --avatar-bg-bottom: var(--off-gray);

  --member-request-alert: var(--lt-orange);
  --box-shadow-gray: inset 0 0.25rem 1rem var(--off-gray);
  --box-shadow-black: 0 1rem 1rem var(--off-black);

  --font-text: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* TODO - delete whichever below is unused... */
  --font-emoji3: 'OpenMoji', system-ui, sans-serif;
  --font-emoji2: "NotoColorEmoji", sans-serif;
  --font-emoji: "NotoEmoji", sans-serif;

  /* Root sizing for Media Queries */
  /* --main-max-width: 1000px; */
  --card-width: 300px;
  /* --message-card-width: 100%; */

  --page-title-all: 1.65rem;
  --page-subtitle-all: 1.45rem;

  --index-image-size: 15rem;
  
  --avatar-circle-small-h-w: 3.75rem;
  --avatar-circle-large-h-w: 8rem;

  --emoji-quick-view-bar-size: 1.125rem;

  --avatar-emoji-nav-size: 1.75rem;
  --avatar-emoji-small-size: 2.5rem;
  --avatar-emoji-large-size: 5.65rem;

  --message-name-size: 1.125rem;
  --message-title-size: 1rem;
  --message-details-size: 0.875rem;
  --message-body-size: 1.1rem;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
