/* A LINKS */

.app-link {
  color: var(--off-red);
  font-weight: 600;
}

.app-link:link,
.app-link:visited,
.app-link:hover {
  color: var(--off-red); /* mouse over */
}


/* BUTTONS */

button,
.fake-button {
  all: unset; /* nukes browser defaults */
  height: 1.75rem;
  width: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 0.125rem solid var(--off-gray);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-gray);
  color: var(--off-black);
  cursor: pointer;
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0.25rem;
  text-transform: uppercase;
}

.fake-button:link,
.fake-button:visited,
.fake-button:hover {
  color: var(--off-black); /* mouse over */
}

button:hover,
.fake-button:hover {
  background-color: var(--off-red);
  box-shadow: none;
  color: var(--off-white);
  /* transform: scale(1.03); */
}

.wide-button {
  width: 95%;
}

.nav-button {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  line-height: 1;
  margin: 0.25rem 0;
  padding: 0.25rem;
}

.nav-button:hover {
  background-color: var(--off-black);
  box-shadow: none;
  color: var(--off-white);
}

.message-button {
  width: fit-content;
}

/* .emoji-picker-button {
  width: fit-content;
} */

/* EMOJIS */

.avatar-image-container-wide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.avatar-image-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    05deg,
    var(--avatar-color-bg-bottom),
    var(--avatar-color-bg-top)
  );
  border-radius: 50%;
  box-shadow: var(--box-shadow-gray);
  color: var(--avatar-color-fg);
  margin-right: 0.5rem;
  padding: 2rem;
}

/* .avatar-circle-tiny {
  height: 3.75rem;
  width: 3.75rem;
} */

.avatar-circle-small {
  height: var(--avatar-circle-small-h-w);
  width: var(--avatar-circle-small-h-w);
}

.avatar-circle-large {
  height: var(--avatar-circle-large-h-w);
  width: var(--avatar-circle-large-h-w);
}

.avatar-emoji-nav-size {
  font-size: var(--avatar-emoji-nav-size);
}

.avatar-emoji-small-size {
  font-size: var(--avatar-emoji-small-size);
}

.avatar-emoji-large-size {
  font-size: var(--avatar-emoji-large-size);
}

.avatar-circle-small:hover, .avatar-circle-large:hover {
    transform: scale(1.125);
}

/* .font-weight-100 {
  font-weight: 100;
} */

.emoji {
  /* display: inline-block; */
  font-family: var(--font-emoji);
  /* font-size: 2.5rem; */
  font-weight: 100;
  /* line-height: 1; */
  /* margin: 0.75rem; */
  /* vertical-align: middle; */
}

/* .emoji:hover {
  transform: scale(1.125);
} */

.emoji2 {
  font-family: var(--font-emoji2);
  font-weight: 100;
}
.emoji3 {
  font-family: var(--font-emoji3);
  font-weight: 100;
}

.emoji-like {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dk-red);
  font-family: var(--font-emoji);
  /* vertical-align: middle; */
}

/* .emoji-picker-wrapper {
  position: relative;
}

.emoji-text-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  background: var(--white);
  border: 0.125 solid var(--off-gray);
  display: none;
  z-index: 1000;
}

.emoji-text-dropdown-content {
  padding: 0.5rem;
  cursor: pointer;
}

.emoji-text-dropdown-content:hover {
  background: var(--lt-red);
  display: flex;
} */

.emoji-panel {
  width: 100%;
}

.emoji-list {
  height: 230px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  background-color: var(--white);
    border: 0.125rem solid var(--off-gray);
    /* border-radius: 0.125rem; */

  box-shadow: 0 4px 8px var(--off-black-trans);
  margin-bottom: 0.5rem;
  /* padding: 0.25rem; */
   overflow-y: auto;
}

.emoji-option {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--off-black);
  margin-bottom: 0.5rem; /* Adds space between options */
  margin-left: 0.25rem;
  padding: 0.5rem;
}

/* Hide the default radio button */
.emoji-option input[type="radio"] {
  display: none;
}

/* Custom radio button styling */
.emoji-option label {
  display: flex;
  align-items: center;
  /* font-family: Arial, sans-serif; */
  /* font-size: 2rem; */
  /* color: #333; */
  transition: color 0.3s;
}

/* Emoji styling */
.emoji-option .emoji {
    cursor: pointer;
  font-size: 2rem; /* Larger emoji */
  margin-right: 0.5rem; /* Adds space between the emoji and the text */
  transition: transform 0.2s ease-in-out;
}

/* Text styling */
.emoji-option p {
  color: var(--off-black); /* Lighter color for text */
    cursor: pointer;
  font-size: 1.125rem; /* Slightly smaller font for the text */
  
  margin: 0; /* Remove default margin */
}

.emoji-option:hover {
  background-color: var(--off-white);
  border-radius: 0.125rem;
  
  /* padding: 0.25rem; */
}

/* Hover effect: changes emoji size and label text color */
.emoji-option:hover .emoji {
  transform: scale(1.2); /* Slightly enlarge the emoji */
}

.emoji-option:hover label {
  color: var(--off-red); /* Blue color on hover for the label */
}

/* Checked state - when the radio button is selected */
.emoji-option input[type="radio"]:checked + label .emoji {
  transform: scale(1.2); /* Slightly enlarge the emoji when selected */
  color: var(--dk-red); /* Change emoji color when selected */
}

.emoji-option input[type="radio"]:checked + label p {
  color: var(--black);
  font-weight: bold; /* Make the text bold when the radio button is selected */
}






/* Hide the dropdown by default */
/* #emoji-text-dropdown.hidden {
  display: none;
} */

/* Style for dropdown options */
/* .emoji-option {
  padding: 8px 16px;
  cursor: pointer;
} */

/* .emoji-option:hover {
  background-color: #ddd;
} */

/* #emoji-text-dropdown {
  max-height: 200px;
  background-color: var(--white);
  border: .0125rem solid var(--off-gray);
  box-shadow: 0 4px 8px var(--off-black-trans);  
  overflow-y: auto;
  padding: 0.25rem;
}

.emoji-option {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.emoji-option:hover {
  background-color: var(--lt-red);  /* Hover effect for better interaction
} */

/* TODO - FIX ALL FORMS and COALESCE */
/* FORMS */

.sign-up-form,
.log-in-form,
.become-member-form,
.update-profile-form,
.change-avatar-form,
.profile-data-form {
  width: 100%;
  margin: 0.25rem 0;
}

.sign-up-form,
.log-in-form,
.become-member-form {
  color: var(--off-black);
}
.change-avatar-form {
  color: var(--off-white);
}

label, .fake-label {
  width: 100%;
  text-transform: capitalize;
}

input, .fake-input {
  width: 100%;
  /* background-color: var(--white); */
  border: 0.125rem solid var(--off-gray);
  /* border-radius: 0.125rem; */
    font-weight: 600;

  margin-bottom: 0.25rem;
  padding: 0.125rem;
}


/* .fake-input:hover {
  background-color: var(--lt-red);
} */
input {
background-color: var(--white);
}

input::placeholder {
  text-transform: capitalize;
}
.fake-input {
  /* background-color: var(--lt-red); */
  background-color: var(--off-white);
  border-radius: 0.5rem;
}

/* .input-height-special {
  height: 3rem;
} */

/* .emoji-input-width {
  height: 3rem;
  width: 5.35rem;
  color: var(--off-black);
  font-family: var(--font-emoji);
  font-size: 1.75rem;
  text-align: center;
} */

.preview-current, .preview-new {
  height: 7rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.125rem solid var(--off-gray);
  border-radius: 50%;
  font-family: var(--font-emoji);
  font-size: 4.55rem;
  padding: 2rem;
  /* text-align: center; */
}

fieldset {
  padding: 0.5rem;
}

fieldset input {
  width: 100%;
  /* margin-left: 0.5rem; */
  text-align: center;
}

fieldset input::placeholder {
  text-align: left;
}

/* UL & LI */

li {
  list-style: none;
  margin-bottom: 0.5rem;
}

li:last-child {
  margin-bottom: 0;
}