/* A element classes for text-based links */
.text-link {
  color: var(--off-red);
  font-weight: var(--font-weight-heavy);
}

.text-link:link,
.text-link:visited,
.text-link:hover {
  color: var(--off-red); /* mouse over */
}

/* A and BUTTON element */
.button-default {
  all: unset; /* nukes browser defaults */
  height: var(--button-default-h);
  width: var(--button-default-w);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  box-shadow: var(--box-shadow-gray);
  color: var(--off-black);
  cursor: pointer;
  font-family: var(--font-text);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-heavy);
  margin: 0;
  padding: 0 var(--spacer-medium);
  text-transform: uppercase;
}

.button-default:link,
.button-default:visited,
.button-default:hover {
  color: var(--off-black); /* mouse over */
}

button:hover,
.button-default:hover {
  background-color: var(--off-red);
  box-shadow: none;
  color: var(--off-white);
}

.wide-button {
  width: var(--width-default-percent);
  /* the padding setting below keeps the button-default settings above from letting the left and right "button" ends from pushing beyond where they should be at  */
  padding: 0; 
}

.button-default.nav-button {
  height: var(--nav-button-h-w);
  width: var(--nav-button-h-w);
  margin: var(--spacer-medium) 0;
  padding: var(--spacer-medium);
}

.nav-button:hover {
  background-color: var(--off-black);
  box-shadow: none;
  color: var(--off-white);
}

.message-button {
  min-width: 2.5rem;
  width: fit-content;
}

.close-button {
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: var(--border-default);
  border-radius: var(--border-radius-circle);
  box-shadow: var(--box-shadow-gray);
  cursor: pointer;
  font-size: var(--font-size-large);
  margin: 0;
}


/* DIV containers */

/* -- button based */
.button-container-col {
  width: var(--width-default-percent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-default);
}

.button-container-row-space-evenly {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--spacer-default);
  margin-top: var(--spacer-big);
}

.button-container-row {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-default);
}

/* --column-based */
.element-container-col-default {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.element-container-col-start-center {
  /* width: var(--width-default-percent); */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  /* gap: var(--spacer-medium); */
}

/* --row-based */
.element-container-row-center-start  {
  display: flex;
  align-items: center;
  justify-content: start;
}

.element-container-row-default {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.element-container-row-space-evenly {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.element-container-row-space-between {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacer-medium);
}

.element-container-profile-block {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--spacer-medium);
  background-color: var(--lt-red);
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  font-size: var(--font-size-small);
  margin: var(--spacer-medium) 0;
  padding: var(--spacer-medium);
  text-transform: uppercase;
}

/* Emoji/avatar related */
.avatar-container {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-background {
  background: linear-gradient(
    05deg,
    var(--avatar-color-bg-bottom),
    var(--avatar-color-bg-top)
  );
  box-shadow: var(--box-shadow-gray);
  color: var(--avatar-color-fg);/
}

.avatar-container-size-small {
  height: var(--avatar-circle-small-h-w);
  width: var(--avatar-circle-small-h-w);
  margin: 0;
}

.avatar-container-size-large {
  height: var(--avatar-circle-large-h-w);
  width: var(--avatar-circle-large-h-w);
}

.emoji-nav-size {
  font-size: var(--avatar-emoji-nav-size);
}

.emoji-size-small {
  font-size: var(--avatar-emoji-small-size);
}

.emoji-size-large {
  font-size: var(--avatar-emoji-large-size);
}

.emoji-size-largest {
  font-size: var(--avatar-emoji-largest-size);
}

.emoji-size-small:hover {
  transform: scale(1.125);
}
.emoji-size-large:hover {
  transform: scale(0.875);
}

.emoji {
  font-family: var(--font-emoji) !important;
  font-weight: var(--font-weight-light);
}

/* FORM related */
.card form {
  width: var(--width-default-percent);
}

label, .fake-label {
  width: var(--width-default-percent);
  text-transform: capitalize;
}

input, .fake-input, textarea, select {
  width: var(--width-default-percent);
  border: var(--border-default);
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--spacer-medium);
  padding: var(--spacer-small);
}

input, select {
  height: var(--button-default-h);
}

input, textarea{
background-color: var(--white);
}

input::placeholder {
  text-transform: capitalize;
}

.fake-input {
  background-color: var(--off-white);
  border-radius: var(--border-radius-default);
}

select {
  font-size: var(--font-size-small);
}

textarea {
  /* height: 200px; */
  resize: vertical; /* Allows vertical resizing, remove if not needed */
  white-space: pre-line
}

#notes-edit-profile-admin, #notes-create-profile-admin {
  height: 75px;
}

/* LIST related */
li {
  width: var(--width-default-percent);
  list-style: none;
  margin-bottom: var(--spacer-default);
}

li:last-child {
  margin-bottom: 0;
}

/* UI Messages */
.ui-message {
  width: var(--width-default-percent);
  font-size: var(--message-body-size);
  font-weight: var(--font-weight-medium);
  margin: var(--spacer-medium) 0;
}

.ui-message-bubble {
  max-width: var(--max-width);
  background-color: var(--off-white);
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  padding: var(--spacer-default);
}
