.sticky-header {
  position: sticky;
  top: 0;
  width: var(--width-default-percent);
}

.nav-bar {
  height: var(--nav-bar-h);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--spacer-default);
  background-color: var(--off-red);
}

.logged-in-bar {
  background-color: var(--off-black);
  color: var(--off-white);
  font-size: var(--font-size-small);
  padding: var(--spacer-small);
  text-align: center;
}
