html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(05deg, var(--off-black), var(--off-gray));
  color: var(--off-black);
  font-family: var(--font-text);
  font-size: var(--font-size-default);
}

h1 {
  font-size: var(--font-size-page-title);
}

h2 {
  font-size: var(--font-size-page-subtitle);
}

h3 {
  font-size: var(--font-size-large);
}

main {
  width: width(--width-default-percent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Global Page and Modal Classes */
/* -- Titles and Subtitles */
.page-title {
  display: inline-block;
  background: linear-gradient(180deg, var(--off-red), var(--off-black));
  -webkit-background-clip: text; /* Clips background to text shape */
  -webkit-text-fill-color: transparent; /* Makes original text color transparent */
}

.page-title-off-card {
  width: var(--width-default-percent);
  display: inline-block;
  background: linear-gradient(180deg, var(--white), var(--off-gray));
  -webkit-background-clip: text; /* Clips background to text shape */
  -webkit-text-fill-color: transparent; /* Makes original text color transparent */
  padding: var(--spacer-default);
  text-align: center;
}

.page-title-modal {
  width: 88%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  background: linear-gradient(180deg, var(--off-red), var(--off-black));
  -webkit-background-clip: text; /* Clips background to text shape */
  -webkit-text-fill-color: transparent; /* Makes original text color transparent */
  padding: var(--spacer-medium) 0;
}

.page-subtitle {
  color: var(--off-gray);
  padding: 0 var(--spacer-default);
}

.page-subtitle-off-card {
  width: var(--width-default-percent);
  display: inline-block;
  background: linear-gradient(180deg, var(--white), var(--off-gray));
  -webkit-background-clip: text; /* Clips background to text shape */
  -webkit-text-fill-color: transparent; /* Makes original text color transparent */
  font-size: var(--font-size-default);
  padding: var(--spacer-default);
  text-align: center;
}

/* -- Card */
.card {
  height: fit-content;
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: var(--off-white);
  border-radius: var(--border-radius-big);
  box-shadow: var(--box-shadow-black);
  margin: var(--spacer-default);
  padding: var(--spacer-biggest);
  /* transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease; */
}

.admin-card {
  background-color: var(--black);
  border: var(--border-admin-card);
  color: var(--off-white);
}

.member-card {
  background-color: var(--white);
  border: var(--border-member-card);
}

.guest-card {
  border: var(--border-guest-card);
}

  /* on admin panel, used to grab via js */
.user-card {
  background-color: var(--white);
}

/* -- Profile Data, using dl, dt, & dd special elements, and their related classes */
.profile-data-container, .profile-data-dl {
  width: var(--width-default-percent);
  font-size: var(--font-size-default);
  margin-top: var(--spacer-medium);
  /* margin-bottom: var(--spacer-big); */
}

.profile-data-dl div {
  display: grid;
  grid-template-columns: 4.125rem 1fr;
  gap: var(--spacer-biggest);
  line-height: 1.5;
}

.profile-data-dl dd {
  font-weight: var(--font-weight-heavy);
}

.neighbor-relevant-data {
  border-radius: var(--spacer-medium);
  padding-left: var(--spacer-small);
}

.app-relevant-data {
  padding-left: var(--spacer-small);
}

.neighbor-relevant-data, .app-relevant-data {
 margin-bottom: 2px;
}

