html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(05deg, var(--off-black), var(--off-gray));
  color: var(--off-black);
  font-family: var(--font-text);
  font-size: 1rem;
}

h1 {
  /* font-size: 1.75rem; */
  /* font-size: 1.65rem; */
  font-size: var(--page-title-all);
}

h2 {
  /* font-size: 1.45rem; */
  font-size: var(--page-subtitle-all);
}

/* h3 {
  font-size: 1.125rem;
} */

/* HEADER (& NAV) */

.app-header {
  position: sticky;
  top: 0;
  width: 100%;
}

.app-nav {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 0.5rem; */
  background-color: var(--off-red);
}

.app-nav-button-image {
  /* font-size: 1.75rem; */
  font-weight: 100;
  text-align: center;
}

.app-logged-in-bar {
  background-color: var(--off-black);
  color: var(--off-white);
  font-size: 0.8rem;
  padding: 0.125rem;
  text-align: center;
}


/* MAIN */

main {
  /* max-width: var(--main-max-width); */
  /* width: 10000px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 1rem; */
}

/* General Element Containers */
.element-container-row {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: start;
  /* gap: 0.25rem; */
}

.element-container-row-center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 0.25rem; */
}

.element-container-col {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  /* gap: 0.25rem; */
}



/* -- Button Containers */

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.button-container-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* .button-container-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
} */

/* MODAL */

/* ADMIN PASSWORD MODAL */
/* #modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--frog-lt-trans);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
} */

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* .modal.hidden {
  display: none;
} */

.modal-overlay {
  position: absolute;
  inset: 0;
  background: var(--off-black-trans);
}

/* .modal-content {
  height: fit-content;
  width: var(--card-width);
  background: var(--lt-red);
  border: 2px solid var(--dk-yellow);
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
} */

/* .modal-content {
  position: relative;
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  z-index: 1;
  max-width: 500px;
  width: 100%;
} */

.modal-content-card {
  position: relative;
  height: fit-content;
  width: calc(var(--card-width) + 0.5rem);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: var(--off-white);
  border-radius: 1rem;
  box-shadow: var(--box-shadow-black);
  margin: 0.5rem;
  padding: 1rem;
  z-index: 1; 
}

/* .modal-section.hidden {
  display: none;
} */

.close-button {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  /* border: 0.125rem solid var(--off-gray); */
  border-radius: 50%;
  box-shadow: var(--box-shadow-gray);
  cursor: pointer;
  font-size: 1rem;
  /* margin-bottom: 0.5rem; */
  padding: 0.25rem;
}

.close-button:hover {
  /* color: var(--off-white); */
  /* transform: scale(1); */
}


/* FOOTER */

footer {
  color: var(--off-white);
  font-size: 0.8rem;
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;
}

