.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.black {
    color: var(--off-black);
}

.white {
    color: var(--off-white);
}

.green {
    color: var(--off-green);
}

.red {
    color: var(--off-red);
}

/* -- ???? Assigned via permission_status, must be able to override other css, put last in misc.css ???? */

.admin-card {
  background-color: var(--black);
    border: 0.25rem double var(--off-red);
  color: var(--off-white);
}
.member-card {
  /* background-color: var(--lt-blue); */
    border: 0.25rem solid var(--off-red);
  /* color: var(--off-red); */
}
.guest-card {
  /* background-color: var(--lt-green); */
    border: 0.25rem dotted var(--off-red);
}

.user-card {
/* on admin panel, used to grab via js */
background-color: var(--white);
}

/* .directory-name {
  background-color: grey;
} */

.directory-bar {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.admin-card .directory-bar {
  background-color: var(--off-black);
  /* border: 0.125rem solid var(--off-gray); */
}

.user-card .directory-bar {
  background-color: var(--off-white);
  /* border: 0.125rem solid var(--off-gray); */
}

.directory-bar span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--off-gray);
  border-radius: 0.25rem;
  padding: 0.25rem;
  /* text-align: center; */
}

.directory-bar span, .directory-bar p {
    font-size: 1.125rem;
}

.admin-card .directory-bar span {
  background-color: var(--off-white);
  color: var(--off-black);
}

.user-card .directory-bar span {
  background-color: var(--off-black);
  color: var(--off-white);
}

.red-letter {
  color: var(--off-red);
  /* background-color: var(--off-black); */
  /* border: 1px solid red; */
  font-weight: 600;
}

.neighbor-data {
  /* background-color: var(--off-white); */
  /* border-bottom: 2px solid var(--white); */
  border-radius: 0.25rem;
  padding-left: 0.125rem;
}

.admin-card .neighbor-data {
  background-color: var(--off-black);
}

.user-card .neighbor-data {
  background-color: var(--off-white);
}

.app-data {
  padding-left: 0.125rem;
}

.neighbor-data, .app-data {
 margin-bottom: 2px;
}

.upgrade-me {
  background-color: var(--member-request-alert);
}

/* TODO - test this again, and only keep one hidden! */
.hidden {
  display: none;
}

/* I can't recall the last time I had to use !important, 
but I had elements on admin.ejs that would not get properly hidden. 
It might have something to do with my use of dt and dd elements; unsure. */
div.hidden {
  display: none !important; /* Ensures it's not overridden */
}