.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.black {
    color: var(--off-black);
}

.white {
    color: var(--off-white);
}

.green {
    color: var(--off-green);
}

.red {
    color: var(--off-red);
}

/* -- ???? Assigned via permission_status, must be able to override other css, put last in misc.css ???? */



/* .directory-name {
  background-color: grey;
} */


.red-letter {
  color: var(--off-red);
  /* background-color: var(--off-black); */
  /* border: 1px solid red; */
  font-weight: 600;
}

.neighbor-data {
  /* background-color: var(--off-white); */
  /* border-bottom: 2px solid var(--white); */
  border-radius: 0.25rem;
  padding-left: 0.125rem;
}

.admin-card .neighbor-data {
  background-color: var(--off-black);
}

.user-card .neighbor-data {
  background-color: var(--off-white);
}

.app-data {
  padding-left: 0.125rem;
}

.neighbor-data, .app-data {
 margin-bottom: 2px;
}

.upgrade-me {
  background-color: var(--member-request-alert);
}

input[type="button"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"], 
input[type="color"] {
  cursor: pointer !important;
}

/* TODO - test this again, and only keep one hidden! */
.hidden {
  display: none;
}

/* I can't recall the last time I had to use !important, 
but I had elements on admin.ejs that would not get properly hidden. 
It might have something to do with my use of dt and dd elements; unsure. */
div.hidden {
  display: none !important; /* Ensures it's not overridden */
}