:root {
  --white: #fff;
  --off-white: #ece8e1;
  --off-gray: #71807e;
  --off-black: #202322;
  --black: #000;

  --off-yellow: #d2d27e;
  --off-orange: #de9e26;

  --dk-blue: #3a3a48;
  --off-blue: #406b82;
  --lt-blue: #9db7c0;

  --dk-green: #405440;
  --off-green: #4d6553;
  --lt-green: #a1c8a1;

  --dk-purple: #554157;
  --off-purple: #86427e;
  --lt-purple: #c2a5c2;

  --error-red: #963737;

  --font-text: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --font-emoji: "Noto Color Emoji", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(05deg, var(--off-green), var(--off-gray));
  color: var(--off-black);
  font-family: var(--font-text);
  font-size: 1rem;
}

h1,
h2 {
  /* margin-bottom: 1rem; */
  text-transform: uppercase;
}

h1 {
  /* font-size: 1.75rem; */
  font-size: 1.65rem;
}

h2 {
  font-size: 1.25rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 1rem; */
}

.red-letter {
  color: var(--error-red);
}

.card {
  height: fit-content;
  /* width: 17rem; */
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--white); */
  background: linear-gradient(05deg, var(--off-white), var(--white));
  /* border: 0.25rem solid var(--off-blue); */
  border-radius: 1rem;
  /* box-shadow: inset 0 0.125rem 0.5rem var(--off-black); */
  box-shadow: 0 1rem 1rem var(--off-black);
  margin: 1rem;
  padding: 1.25rem;
}

.home-image {
  height: 15.5rem;
  width: auto;
  border-radius: 50%;
  border: 0.25rem solid var(--off-blue);
    box-shadow: inset 0 0.25rem 1rem var(--off-gray);
  margin: 0.5rem;
  /* opacity: 0.8; */
  /* padding: 0.5rem; */
}

.profile-image-container {
  height: 15rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--error-red);
  /* border: 0.75rem solid var(--off-blue); */
  /* border: 0.6rem solid var(--black); */
  border-radius: 50%;
     /* box-shadow: inset 0 2rem 5rem var(--off-black); */
  margin: 0.5rem;
  padding: 0.5rem;
}

.profile-image-container p {
  /* opacity: .9; */
  /* color: var(--dk-blue); */
  font-family: var(--font-emoji);
  font-size: 10rem;
    /* text-shadow: 0 2px 4px rgba(0,0,0,0.3); */
  /* filter: invert(49%) sepia(80%) saturate(5916%) hue-rotate(313deg); */
}


@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
  50% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}

.waving {
  display: inline-block;
  animation: wave-animation 8s ease-in-out infinite;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.75rem;
}

.button-container-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* .button-container-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
} */

button,
.fake-button {
  all: unset; /* nukes browser defaults */
  height: 1.75rem;
  width: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 0.25rem solid var(--off-blue);
  border-radius: 0.5rem;
  box-shadow: inset 0 0.25rem 1rem var(--off-gray);
  color: var(--off-black);
  cursor: pointer;
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0.25rem;
  text-transform: uppercase;
}

.wide-button {
  width: 100%;
}

.fake-button:link,
.fake-button:visited,
.fake-button:hover {
  color: var(--off-black); /* mouse over */
}

button:hover,
.fake-button:hover {
  transform: scale(1.1);
}

.user-message {
  margin: 0.25rem 0;
}

form {
  width: 100%;
  color: var(--off-black);
  margin: 0.25rem 0;
}

label {
  font-weight: 500;
  text-transform: capitalize;
}

input {
  width: 100%;
  background-color: var(--white);
    border: 0.125rem solid var(--off-blue);
    /* border-radius: 0.125rem; */
    margin-bottom: 0.25rem;
  padding: 0.125rem;
}

input::placeholder {
  text-transform: capitalize;
}
footer {
  font-size: 0.8rem;
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.page-errors h1 {
  color: var(--error-red);
}

.page-errors p {
  font-size: 1.25rem;
}

.error-messages {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background: linear-gradient(05deg, var(--off-yellow), var(--white));
  border: 2px solid var(--off-gray);
  border-radius: 1rem;
  margin-top: 0.25rem;
  padding: 0.5rem;
}

.errors {
  color: var(--error-red);
  font-family: var(--font-text);
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}