/* UNIQUE TO ONE VIEW (GLOBAL GLASSES GO IN LAYOUT-BASICS.CSS) */

/* --index.ejs */
.index-image {
  height: var(--index-image-size);
  width: auto;
  border-radius: 50%;
  border: 0.125rem solid var(--off-gray);
  box-shadow: var(--box-shadow-gray);
  margin: 0.5rem;
}

/* -- admin.ejs */
.admin-quick-view-bar {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.25rem;
  border-radius: 0.5rem;
  font-size: var(--emoji-quick-view-bar-size);
  padding: 0.5rem;
}

.admin-card .admin-quick-view-bar {
  background-color: var(--off-black);
}

.user-card .admin-quick-view-bar {
  background-color: var(--off-white);
}

.admin-quick-view-bar span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--off-gray);
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.admin-card .admin-quick-view-bar span {
  background-color: var(--off-white);
  color: var(--off-black);
}

.user-card .admin-quick-view-bar span {
  background-color: var(--off-black);
  color: var(--off-white);
}

.admin-panel-name {
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

.admin-card .neighbor-relevant-data {
  background-color: var(--off-black);
}

.user-card .neighbor-relevant-data {
  background-color: var(--off-white);
}

.upgrade-me {
  background-color: var(--member-request-alert);
}


/* -- message-boards.ejs */



/* -- your-profile.ejs */
.your-profile-card {
 background-color: var(--off-white);
 color: var(--off-black);
}

.your-profile-card .neighbor-relevant-data {
  background-color: var(--white);
}
.your-profile-card .app-relevant-data {
  background-color: var(--white);
}

/* -- member-directory.ejs */
.member-card .neighbor-relevant-data {
  background-color: var(--off-white);
}

.member-directory-extra-avatar-container {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.75rem 0 0.25rem 0;
}

/* -- change-avatar.ejs */
.preview-current, .preview-new {
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.125rem solid var(--off-gray);
  border-radius: 50%;
  font-family: var(--font-emoji);
  font-size: 3.5rem;
  padding: 2rem;
}

.emoji-panel-change-avatar {
  width: 100%;
}

.emoji-list-change-avatar {
  height: 230px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  background-color: var(--white);
  border: 0.125rem solid var(--off-gray);
  box-shadow: 0 4px 8px var(--off-black-trans);
  margin-bottom: 0.5rem;
  overflow-y: auto;
}

.emoji-option {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--off-black);
  margin-bottom: 0.5rem; /* Adds space between options */
  margin-left: 0.25rem;
  padding: 0.5rem;
}

/* ---- Hide the default radio button */
.emoji-option input[type="radio"] {
  display: none;
}

/* ---- Custom radio button styling */
.emoji-option label {
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

/* ---- Emoji styling */
.emoji-option .emoji {
  cursor: pointer;
  font-size: 2rem; /* Larger emoji */
  margin-right: 0.5rem; /* Adds space between the emoji and the text */
  transition: transform 0.2s ease-in-out;
}

/* ---- Text styling */
.emoji-option p {
  color: var(--off-black); /* Lighter color for text */
  cursor: pointer;
  font-size: 1.125rem; /* Slightly smaller font for the text */

  margin: 0; /* Remove default margin */
}

.emoji-option:hover {
  background-color: var(--off-white);
  border-radius: 0.125rem;
}

/* ---- Hover effect: changes emoji size and label text color */
.emoji-option:hover .emoji {
  transform: scale(1.2); /* Slightly enlarge the emoji */
}

.emoji-option:hover label {
  color: var(--off-red); /* Blue color on hover for the label */
}

/* ---- Checked state - when the radio button is selected */
.emoji-option input[type="radio"]:checked + label .emoji {
  transform: scale(1.2); /* Slightly enlarge the emoji when selected */
  color: var(--dk-red); /* Change emoji color when selected */
}

.emoji-option input[type="radio"]:checked + label p {
  color: var(--black);
  font-weight: bold; /* Make the text bold when the radio button is selected */
}

/* -- admin-create.ejs */


/* -- admin-edit.ejs */
/* ---- Makes emoji input width more suitable for a small emoji */
.element-container-row-space-between .emoji {
  width: 2.75rem;
  text-align: center;
}












/* TODO - MOVE BELOW UP! */

/* START HERE ON 3/7/2026 */




/* INFO */

.info-ul {
  background-color: var(--white);
  border: 0.125rem solid var(--off-gray);
  border-radius: 0.5rem;
  margin: 0.125rem 0;
  padding: 0.25rem;
}

/* MESSAGE BOARDS */
.topic-list {
   width: 100%;
}

.topic-list .fake-button {
  /* color: red; */
  display: flex;
  align-items: center;
  justify-content: start;
}

.topic-title {
  font-size: 1.125rem;
}

/* TOPIC */

.topic-card {
  /* width: 900px; */

  /* 750px is good for reading... */
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

/* -- Message Card */

.message-card {
  /* width: var(--message-card-width); */
  background-color: var(--white);
  /* border: 0.125rem solid var(--off-gray); */
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-black);
  color: var(--off-black);
  line-height: 1.5;
  padding: 0.5rem;
}

.message-header {
  display: flex;
  align-items: start;
  justify-content: start;
  /* background-color: var(--lt-red); */
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.25rem;
}

/* .message-avatar-image-container {
  height: 3.75rem;
  width: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  background: linear-gradient(
    05deg,
    var(--avatar-color-bg-bottom),
    var(--avatar-color-bg-top)
  );
  border-radius: 50%;
  box-shadow: var(--box-shadow-gray);
  color: var(--avatar-color-fg);
  margin-right: 0.5rem;
  padding: 2rem;
} */

.message-name-and-title {
  /* margin: auto 0; */
  display: flex;
  flex-direction: column;
}

.message-name {
  border-bottom: 0.125rem solid var(--white);
  color: var(--off-red);
  font-size: var(--message-name-size);
}

.message-title {
  border-top: 0.125rem solid var(--off-white);
  color: var(--dk-green);
  font-size: var(--message-title-size);
}

.message-details {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.25rem;
  /* background-color: var(--lt-green); */
  font-size: var(--message-details-size);
  padding: 0.25rem;
}

.message-details span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--off-white);
  border-radius: 0.5rem;
  padding: 0.25rem;
  text-align: center;
}

.message-body {
  /* background-color: var(--lt-yellow); */
  /* border-top: 0.125rem solid var(--off-gray); */
  /* border-bottom: 0.125rem solid var(--off-gray); */
  font-size: var(--message-body-size);
  padding: 0.5rem;
}

.message-body-max {
  
}

.message-footer {
  /* background-color: var(--lt-blue); */
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.25rem;
}
.message-button-container {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  /* margin-top: 0.75rem; */
}

.message-button {
  width: fit-content;
  color: var(--off-black);
}

/* YOUR PROFILE */


/* ERRORS & 404/500 */

.page-errors h1 {
  color: var(--off-red);
}

.page-errors p {
  font-size: 1.25rem;
}

.error-messages {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background: linear-gradient(05deg, var(--off-yellow), var(--white));
  border: 0.125rem solid var(--off-gray);
  border-radius: 1rem;
  margin-top: 0.25rem;
  padding: 0.5rem;
}

.errors {
  color: var(--off-red);
  font-family: var(--font-text);
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

