/* GENERAL */

/* --View Headings */

.page-title {
  display: inline-block;
  /* background: linear-gradient(90deg, #ff00cc, #3333ff); */
  background: linear-gradient(180deg, var(--off-red), var(--off-black));
  -webkit-background-clip: text; /* Clips background to text shape */
  -webkit-text-fill-color: transparent; /* Makes original text color transparent */
  /* font-size: var(--page-title-all); */
  padding: 0.25rem 0 0 0 ;
}

.page-subtitle {
  color: var(--off-gray);
  padding: 0 0.5rem;
}

.page-title-off-card {
  display: inline-block;
  /* background: linear-gradient(90deg, #ff00cc, #3333ff); */
  background: linear-gradient(180deg, var(--white), var(--off-white));
  -webkit-background-clip: text; /* Clips background to text shape */
  -webkit-text-fill-color: transparent; /* Makes original text color transparent */
  /* font-size: var(--page-title-all); */
  padding: 0.5rem;
}

/* -- View Card */

.card {
  height: fit-content;
  /* width: 17rem; */
  /* width: 300px; */
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: var(--off-white);
  /* background: linear-gradient(05deg, var(--off-white), var(--white)); */
  /* border: 0.25rem solid var(--off-blue); */
  border-radius: 1rem;
  /* box-shadow: inset 0 0.125rem 0.5rem var(--off-black); */
  box-shadow: var(--box-shadow-black);
  /* font-size: 1rem; */
  /* margin: 1rem; */
  margin: 0.5rem;
  padding: 1rem;
}

.admin-card {
  background-color: var(--black);
    border: 0.25rem double var(--off-red);
  color: var(--off-white);
}
.member-card {
  /* background-color: var(--lt-blue); */
    border: 0.25rem solid var(--off-red);
  /* color: var(--off-red); */
}
.guest-card {
  /* background-color: var(--lt-green); */
    border: 0.25rem dotted var(--off-red);
}

.user-card {
/* on admin panel, used to grab via js */
background-color: var(--white);
}

/* .profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--off-black);
  border-radius: 1rem;
  box-shadow: inset 0 0.25rem 1rem var(--off-gray);
  margin-bottom: 1rem;
  padding: 1rem;
} */

/* .profile-avatar-image-container {
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    05deg,
    var(--avatar-bg-bottom),
    var(--avatar-bg-top)
  );
  border: 0.125rem solid var(--off-gray);
  border-radius: 50%;
  color: var(--avatar-fg);
  margin-bottom: 0.5rem;
} */


/* ONLY ON ADMIN RIGHT NOW---ADD TO ALL SIMILAR USES */
.profile-name {
  font-size: 1.5rem;
  margin: 0;
}

.profile-data, .profile-data-dl {
  width: 100%;
  /* color: var(--off-black); */
  font-size: 1rem;
  /* margin: 0.5rem 0; */
  /* padding: 0.5rem; */
    margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.profile-data-dl div {
  display: grid;
  grid-template-columns: 4rem 1fr;
  gap: 1rem;
  line-height: 1.5;
}

.ui-message {
  width: 100%;
  margin: 0.25rem 0;
}

.ui-message-warning {
  font-size: 0.8rem;
}

/* INDEX */
.index-image {
  height: var(--index-image-size);
  width: auto;
  border-radius: 50%;
  border: 0.125rem solid var(--off-gray);
  box-shadow: var(--box-shadow-gray);
  margin: 0.5rem;
  /* opacity: 0.8; */
  /* padding: 0.5rem; */
}

/* SIGN-UP */

/* LOG-IN */

/* ADMIN  */

.admin-quick-view-bar {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.25rem;
  border-radius: 0.5rem;
  font-size: var(--emoji-quick-view-bar-size);
  padding: 0.5rem;
}


.admin-card .admin-quick-view-bar {
  background-color: var(--off-black);
  /* border: 0.125rem solid var(--off-gray); */
}

.user-card .admin-quick-view-bar {
  background-color: var(--off-white);
  /* border: 0.125rem solid var(--off-gray); */
}

.admin-quick-view-bar span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--off-gray);
  border-radius: 0.25rem;
  padding: 0.25rem;
  /* text-align: center; */
}

/* .admin-quick-view-bar span, .admin-quick-view-bar p {
    font-size: 1.125rem;
} */

.admin-card .admin-quick-view-bar span {
  background-color: var(--off-white);
  color: var(--off-black);
}

.user-card .admin-quick-view-bar span {
  background-color: var(--off-black);
  color: var(--off-white);
}


/* INFO */

.info-ul {
  background-color: var(--white);
  border: 0.125rem solid var(--off-gray);
  border-radius: 0.5rem;
  margin: 0.125rem 0;
  padding: 0.25rem;
}

/* MESSAGE BOARDS */
.topic-list {
   width: 100%;
}

.topic-list .fake-button {
  /* color: red; */
  display: flex;
  align-items: center;
  justify-content: start;
}

.topic-title {
  font-size: 1.125rem;
}

/* TOPIC */

.topic-card {
  /* width: 900px; */

  /* 750px is good for reading... */
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

/* -- Message Card */

.message-card {
  /* width: var(--message-card-width); */
  background-color: var(--white);
  /* border: 0.125rem solid var(--off-gray); */
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-black);
  color: var(--off-black);
  line-height: 1.5;
  padding: 0.5rem;
}

.message-header {
  display: flex;
  align-items: start;
  justify-content: start;
  /* background-color: var(--lt-red); */
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.25rem;
}

/* .message-avatar-image-container {
  height: 3.75rem;
  width: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  background: linear-gradient(
    05deg,
    var(--avatar-bg-bottom),
    var(--avatar-bg-top)
  );
  border-radius: 50%;
  box-shadow: var(--box-shadow-gray);
  color: var(--avatar-fg);
  margin-right: 0.5rem;
  padding: 2rem;
} */

.message-name-and-title {
  margin: auto 0;
  display: flex;
  flex-direction: column;
}

.message-name {
  border-bottom: 0.125rem solid var(--white);
  color: var(--off-red);
  font-size: var(--message-name-size);
}

.message-title {
  border-top: 0.125rem solid var(--off-white);
  color: var(--dk-green);
  font-size: var(--message-title-size);
}

.message-details {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.25rem;
  /* background-color: var(--lt-green); */
  font-size: var(--message-details-size);
  padding: 0.25rem;
}

.message-details span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--off-white);
  border-radius: 0.5rem;
  padding: 0.25rem;
  text-align: center;
}

.message-body {
  /* background-color: var(--lt-yellow); */
  /* border-top: 0.125rem solid var(--off-gray); */
  /* border-bottom: 0.125rem solid var(--off-gray); */
  font-size: var(--message-body-size);
  padding: 0.5rem;
}

.message-footer {
  /* background-color: var(--lt-blue); */
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.25rem;
}
.message-button-container {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  /* margin-top: 0.75rem; */
}

.message-button {
  width: fit-content;
  color: var(--off-black);
}

/* YOUR PROFILE */


/* ERRORS & 404/500 */

.page-errors h1 {
  color: var(--off-red);
}

.page-errors p {
  font-size: 1.25rem;
}

.error-messages {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background: linear-gradient(05deg, var(--off-yellow), var(--white));
  border: 0.125rem solid var(--off-gray);
  border-radius: 1rem;
  margin-top: 0.25rem;
  padding: 0.5rem;
}

.errors {
  color: var(--off-red);
  font-family: var(--font-text);
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

