/* UNIQUE TO ONE VIEW (GLOBAL GLASSES GO IN LAYOUT-BASICS.CSS) */

/* --index.ejs */
.index-image {
  height: var(--index-image-size);
  width: auto;
  border: var(--border-default);
  border-radius: var(--border-radius-circle);
  box-shadow: var(--box-shadow-gray);
  margin: var(--spacer-default);
}

/* -- admin.ejs */
.admin-quick-view-bar {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacer-medium);
  border-radius: var(--border-radius-default);
  font-size: var(--emoji-quick-view-bar-size);
  padding: var(--spacer-default);
}

/* .o-card .admin-quick-view-bar {
  background-color: var(--off-blue);
} */

.admin-card .admin-quick-view-bar {
  background-color: var(--off-black);
}

.user-card .admin-quick-view-bar {
  background-color: var(--off-white);
}

.admin-quick-view-bar span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--off-gray);
  border-radius: var(--border-radius-small);
  padding: var(--spacer-medium);
}

/* .o-card .admin-quick-view-bar span {
  background-color: var(--off-white);
  color: var(--off-black);
} */

.admin-card .admin-quick-view-bar span {
  background-color: var(--off-white);
  color: var(--off-black);
}

.user-card .admin-quick-view-bar span {
  background-color: var(--off-black);
  color: var(--off-white);
}

.admin-panel-name {
  font-size: var(--font-size-largest);
  margin-left: var(--spacer-default);
}

/* .o-card .neighbor-relevant-data {
  background-color: var(--off-blue);
} */

.admin-card .neighbor-relevant-data {
  background-color: var(--off-black);
}

.user-card .neighbor-relevant-data {
  background-color: var(--off-white);
}

.upgrade-possible {
  background-color: var(--member-status-possible);
}
.upgrade-no-decision {
  background-color: var(--member-status-no-decision);
}
.upgrade-declined {
  background-color: var(--member-status-declined);
}

.dead-account {
  background-color: var(--account-is-inactive);
  border: var(--border-inactive-card);
}

/* -- admin-create.ejs */

/* -- admin-edit.ejs */
/* ---- Makes emoji input width more suitable for a small emoji */
.element-container-row-space-between .emoji {
  width: 2.75rem;
  text-align: center;
}

.profile-block-select {
  min-width: fit-content;
  /* max-width: 100%; */
}

/* -- info.ejs */
.info-ul {
  background-color: var(--white);
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  margin: var(--spacer-small) 0;
  padding: var(--spacer-medium);
}

/* -- new-message.ejs AND reply-message.ejs; TODO -**maybe** move to components*/
.author-draft-message {
  color: var(--off-black);
  font-size: var(--font-size-large);
  /* margin-bottom: var(--spacer-default); */
}

.reply-name-draft-message {
  width: fit-content;
  background-color: var(--off-red);
  color: var(--off-white);
  border-radius: var(--border-radius-default);
  font-size: var(--font-size-small);
  margin: var(--spacer-default) 0;
  padding: var(--spacer-default);
  text-transform: uppercase;
}

.topic-draft-message,
.title-draft-message,
.body-draft-message {
  /* font-family: var(--font-text); */
  font-size: var(--font-size-default);
}

.title-draft-message {
  outline: none; /* Remove the default focus outline (optional, use with caution) */
}

.body-draft-message {
  width: 100%; /* Make the textarea span full width */
  height: 180px; /* Set a fixed height, adjust as needed */
  line-height: 1.5; /* Control line height for readability */
  outline: none; /* Remove the default focus outline (optional, use with caution) */
  margin: 0;
  padding: 3px;
}

.topic-draft-message:focus,
.title-draft-message:focus,
.body-draft-message:focus {
  border: var(--border-highlight);
}

/* -- message-boards.ejs */
/* .message-boards-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.topic-list {
  width: var(--width-default-percent);
}

.topic-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.topic-list li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacer-default);
}

.topic-count-square {
  background-color: var(--off-red);
  /* border: var(--border-topic-number); */
  border-radius: var(--border-radius-small);
  color: var(--off-white);
  font-weight: var(--font-weight-heavy);
  padding: var(--spacer-small) var(--spacer-medium);
}

.topic-title {
  font-size: var(--font-size-default);
}

.topic-hr {
  width: var(--width-default-percent);
  border: 0;
  border-top: var(--border-hr-top);
  /* border-bottom: var(--border-hr-bottom);  */
}

/* -- topic.ejs */
.topic-card {
  /* 750px is good for reading... */
  max-width: var(--max-width);
  /* max-width: var(--card-width); */
  min-width: var(--card-width);
  display: flex;
  flex-direction: column;
  gap: var(--spacer-biggest);
  margin: var(--spacer-biggest);
}

/* -- message-card.ejs */
.message-card {
  background-color: var(--white);
  border-radius: var(--border-radius-default);
  box-shadow: var(--box-shadow-black);
  color: var(--off-black);
  line-height: 1.5;
  padding: var(--spacer-default);
}

.message-header {
  display: flex;
  align-items: start;
  justify-content: start;
  border-top-left-radius: var(--border-radius-default);
  border-top-right-radius: var(--border-radius-default);
  /* padding: var(--spacer-medium); */
  padding-bottom: var(--spacer-medium);
}

.message-name-and-title {
  display: flex;
  flex-direction: column;
}

.message-name {
  /* border-bottom: var(--border-message); */
  border-bottom: transparent;
  color: var(--off-red);
  font-size: var(--message-name-size);
}

.message-title {
  border-top: var(--border-message);
  color: var(--dk-green);
  font-size: var(--message-title-size);
}

.message-details {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--spacer-medium);
  /* background-color: var(--lt-green); */
  font-size: var(--message-details-size);
  /* padding: var(--spacer-medium); */
  padding-bottom: var(--spacer-medium);
}

.message-details span {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-default);
  padding: var(--spacer-medium);
  text-align: center;
}

.regular-message {
  background-color: var(--off-white);
}

/* Use on message that were made sticky */
.important-message {
  background-color: var(--off-red);
  color: var(--lt-yellow);
}

.message-body {
  border: var(--border-message);
  border-radius: var(--border-radius-default);
  font-size: var(--message-body-size);
  padding: var(--spacer-big);
}

/* .message-body-max {
} */

.message-footer {
  border-bottom-left-radius: var(--border-radius-default);
  border-bottom-right-radius: var(--border-radius-default);
  padding: var(--spacer-medium);
}
.message-button-container {
  width: var(--width-default-percent);
  display: flex;
  justify-content: end;
  gap: var(--spacer-default);
}

.message-button {
  width: fit-content;
  color: var(--off-black);
}

/* -- your-profile.ejs */
.your-profile-card {
  background-color: var(--off-white);
  color: var(--off-black);
}

.your-profile-card .neighbor-relevant-data {
  background-color: var(--white);
}
.your-profile-card .app-relevant-data {
  background-color: var(--white);
}

/* -- member-directory.ejs */
.member-card .neighbor-relevant-data {
  background-color: var(--off-white);
}

.member-directory-extra-avatar-container {
  height: fit-content;
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-default);
  /* padding: var(--spacer-big) 0 var(--spacer-medium) 0; */
  padding: var(--spacer-big);
}

/* -- change-avatar.ejs */
.preview-current,
.preview-new {
  height: var(--avatar-preview-current-preview-new-h-w);
  width: var(--avatar-preview-current-preview-new-h-w);
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-default);
  border-radius: var(--border-radius-circle);
  font-family: var(--font-emoji);
  font-size: var(--avatar-emoji-preview-size);
  padding: var(--spacer-biggest);
}

.emoji-panel-change-avatar {
  width: var(--width-default-percent);
}

.emoji-list-change-avatar {
  height: var(--emoji-list-change-avatar-picker-h);
  width: var(--width-default-percent);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  background-color: var(--white);
  border: var(--border-default);
  box-shadow: 0 4px 8px var(--off-black-trans);
  margin-bottom: var(--spacer-default);
  overflow-y: auto;
}

.emoji-option {
  width: var(--width-default-percent);
  display: flex;
  align-items: center;
  color: var(--off-black);
  margin-bottom: var(--spacer-default);
  margin-left: var(--spacer-medium);
  padding: var(--spacer-default);
}

/* ---- Hide the default radio button */
.emoji-option input[type="radio"] {
  display: none;
}

/* ---- Custom radio button styling */
.emoji-option label {
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

/* ---- Emoji styling */
.emoji-option .emoji {
  cursor: pointer;
  font-size: var(--avatar-emoji-option-size);
  margin-right: var(--spacer-default);
  transition: transform 0.2s ease-in-out;
}

/* ---- Text styling */
.emoji-option p {
  color: var(--off-black);
  cursor: pointer;
  font-size: var(--font-size-large);
  margin: 0;
}

.emoji-option:hover {
  background-color: var(--off-white);
  border-radius: var(--border-radius-small);
}

.emoji-option:hover .emoji {
  transform: scale(1.25);
}

.emoji-option:hover label {
  color: var(--off-red);
}

/* ---- Checked state - when the radio button is selected */
.emoji-option input[type="radio"]:checked + label .emoji {
  transform: scale(1.25);
  color: var(--dk-red);
}

/* ---- Makes the text bold when the radio button is selected */
.emoji-option input[type="radio"]:checked + label p {
  color: var(--black);
  font-weight: var(--font-weight-heavy);
}

/* error-page.ejs */

.page-errors h1 {
  color: var(--off-red);
}

.page-errors p {
  font-size: var(--font-size-largest);
}

.error-messages {
  height: fit-content;
  width: var(--width-default-percent);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-medium);
  background: linear-gradient(05deg, var(--off-yellow), var(--white));
  border: var(--border-default);
  border-radius: var(--spacer-biggest);
  margin-top: var(--spacer-medium);
  padding: var(--spacer-default);
}

.errors {
  color: var(--off-red);
  font-family: var(--font-text);
  font-size: var(--font-size-default);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
